.downcomponent{
    height: inherit;
    position: relative;
    width: 100vw;
    background-color:#000000;
    display: flex;
    overflow: hidden;
    flex-direction: column;
   
}

.extra_contents{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    height: 200px;
    position: relative;
}
.text p{
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

.disclaimer{
    height: 70px;
    display: flex;
    align-items: center;
    font-weight: normal;
    justify-content: flex-end;
    width: 100%;
    background-color:transparent;
    font-size: 13px;
}
.disclaimer p{
    height: 35px;
    border: 2px solid white;
    width: unset;
    width: 100%;
    display: flex;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    max-width: 700px;
    color:white;
}
.menue_options{
    list-style: none;
    color: white;
    height: inherit; 
    display: flex;
    font-weight: normal;
    padding: 0px;
    justify-content: space-evenly;
    font-size: 15px;
    width: 20%;
    flex-direction: column;
}
.menue_bottom{
    display: flex;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    font-weight: bold;
    flex-direction: row;
}
.logo{
    height: 100px ;
    width: 200px;
}
.modals{
    position: fixed;
    top:85%;
    margin-right: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    z-index: 99999999;
    left: 85%;
}
.our_socials{
    height: unset;
    padding: 5px;
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 30px;
    flex-direction: column;
}

.our_socials ul{
    display: flex;
    flex-direction: row;
    height: unset;
    margin: 10px;
    width: 300px;
    padding: 5px;
    list-style: none;

    
}
.our_socials button{
    background-color: transparent;
    font-size: 18px;
    color: white;
    width: 200px;
    border: none;
}
.goto_top{
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(15, 207, 159);
}
.message{
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    background-color:#000020;
}
.extra_contents button{
    width: 80%;
    font-size: 14px;
    border-radius: 10px;
    height: 180px;
    position: absolute;
    top: 60px;
    color: black;
    background-color: whitesmoke
}

.our_socials ul li{
    height: 40px ;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0px;
    background-color:transparent;
    border-radius: 5px;
}
@media (min-width: 650px){
    .modals{
    position: fixed;
    top:85%;
    margin-right: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    z-index: 99999999;
    left: 85%;
}
    
    .extra_contents{
        display: flex;
        justify-content: center;
	align-items: center;

    }
    
    .disclaimer{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background-color:transparent;
        font-size: 20px;
    }
    .disclaimer p{
        height: 33px;
        border: 2px solid white;
        width: unset;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        box-sizing: border-box;
        padding: 15px;
        margin-right: 40px;
        color:white;
    }
    .menue_options{
        list-style: none;
        color: white;
        height: 140px; 
        display: flex;
        font-weight: normal;
        font-size: 18px;
        width: 15%;
        font-weight: normal;
        flex-direction: column;
    }
    .menue_bottom{
        display: flex;
	margin-left: 20px;
        height: 200px;
        box-sizing: border-box;
        flex-direction: row;
    }
    .logo{
        height: 150px ;
        width: 400px;
    }
    .our_socials{
        height: 100px;
        width: 40%;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 30px;
        justify-content: center;
        padding-top:20px;
        flex-direction: row;
    }
    
    .our_socials ul{
        display: flex;
        flex-direction: row;
        height: unset;
        margin: 10px;
        width: 300px;
        padding: 5px;
        list-style: none;
    
        
    }
    .our_socials button{
        background-color: transparent;
        font-size: 18px;
        color: white;
        width: 300px;
        border: none;
    }
    .goto_top{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(15, 207, 159);
    }
    
    .our_socials ul li{
        height: 50px ;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 0;
        box-sizing: border-box;
        margin-top: 0px;
        background-color:transparent;
        border-radius: 5px;
    }
    
}
