.popular_movies{
    height: inherit;
    margin: 40px auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.4rem;
    width: 100vw;
}
.movie_container{
    max-width: 300px;
    height: inherit;
}
