.menuebar .li:hover {
    font-weight: bolder;
    background-color: white;
} 
 
.menuebar .li{
    min-width: 200px;
    text-decoration: none;
    color: white;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}


.menuebar{
    background:white;
    width: 100vw;
    line-height: 60px;
    list-style: none;
    z-index: 9999;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    overflow-x: hidden;
    cursor: pointer; 
}  
.tol{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
@media (min-width: 650px){
.menuebar .li:hover {
    font-weight: bolder;
    color:white;
    
}
.menuebar .li{
    min-width: 200px;
    transition: 0.4s ease;
    text-decoration: none;
    color:white;
    border-bottom: 1.5px solid white;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
.menuebar{
    transition: 0.5s linear;
    background:black;
    width: 100vw;
    line-height: 60px;
    list-style: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    overflow-x: hidden;
    cursor: pointer; 
}  
}
