/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contained{
  display: flex;
  margin-bottom: 10px;
  width: 100vw;
  padding-left: 10px;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: inherit ;
  margin-top: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: inherit;
  padding-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 1em;
}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.article_img{
  background-color: black;
  height: 200px;
  background-position: center;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  width: 100%;

}

.tag-red {
  background-color: #000020;
  color: white;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
  height: 40px;
  width: 40px;

}

.user__info {
  color: #666;
}

@media (min-width: 650px){
  .article_img{
    background-color: black;
    height: 100%;
    min-width: 400px;
    width: 30%;
  
  }
  .card{
    display: flex;
    flex-direction: row;
    width: unset;
    margin-top: 20px;
    margin-bottom: 20px;
    height: inherit;
    width: 95%;
    padding-bottom: 0px;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1em;
  }

}